header{
	height: 100svh;
	margin: 0;
	text-align: center;
	color: #fff;
	padding-top: 30vh;
}
h1{
	color: #fff;
	text-align: center;
}
header > p{
	font-size: 30px;
}
.name{
	font-size: 50px;
}
.name > span{
	display: block;
}
.emoji{
	display: inline-block;
	animation: rotate 1s infinite;
	margin-left: 0.5rem;
}
@keyframes rotate{
	0%{
		transform: rotate(-10deg);
	}
	50%{
		transform: rotate(10deg);
	}
	100%{
		transform: rotate(-10deg);
	}
}
@media(max-width: 500px){
	header{
		padding-top: 25vh;
		}
}
