*{ 
	box-sizing: border-box;
}
body{ 
	background: radial-gradient(52.96% 53.85% at 51.4% 44.83%, #372A4D 0%, #171122 100%);
	/* color: #3f4b44; */
	font-family: 'Space Grotesk', sans-serif;
	overflow-x: hidden;
	margin: 0;
}
a{
	text-decoration: none;
	color: inherit;
}
